#!/usr/bin/env bash

CONT_FILE="continue"
PYTHON_CMD="python"
ENTRYPOINT="entrypoint.py"

if [[ -f "$CONT_FILE" ]]; then
  bash "${PYTHON_CMD} ${CONT_FILE}"
else
  bash "${PYTHON_CMD} ${ENTRYPOINT}"
fi
